@import url('https://fonts.googleapis.com/css?family=Montserrat:400i,500,700&display=swap');

/* These colors will be used in the light theme */
:root {
    --font-color: #1f1f1f;
    --bg-color: white;
    --heading-color: #333333;
    --primary-color: #0652DD;
}

/* Those ones will be used in the dark theme */
[data-theme="dark"] {
    --font-color: #e1e1ff;
    --bg-color: #121212;
    --heading-color: #e6e7f0;
    --primary-color: #EA2027;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
}

.container {
    width : 50%;
    margin-top: 3em;
    margin-left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-weight: 700;
    margin: 0 0 0.25em 0;
    color: var(--heading-color);
}

legend {
    font-weight: 400;
    font-style: italic;
    margin-bottom: 2em;
    color: var(--primary-color);
}

p {
    font-weight: 500;
    margin-top: 1em;
    color: var(--font-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1em 1.25em;
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: none;
}

a {
    color: var(--font-color);
    text-decoration: none;
    position: relative;
    margin-left: 1em;
}

a:after {
	content: '';
	height: 3px;
	position: absolute;
	bottom: -3px;
	left: 0%;
	width: 25%;
	background-color: var(--primary-color);
	transition: 0.3s ease;
}

a:hover:after {
	width: 100%;
}

@media screen and (max-width: 780px) {
    .container {
        width : 80%;
    }
  }
